@layer components {
  .card {
    padding-block: 20px;
    padding-inline: 24px;
    @apply bg-white shadow-dml-box-shadow rounded-xl;
    &-title {
      h6 {
      }
      color: var(--dml-color-foreground);
      &.with-border {
        padding-bottom: 15px;
        border-bottom: 1px solid var(--dml-color-grey-low);
      }
    }
    &-with-header {
      @apply border border-grey-low flex flex-col divide-y divide-grey-low rounded-xl;
    }

    &-thumb {
      @apply w-full sm:w-[180px];
    }

    &-common {
      @apply backdrop-blur-[30px] shadow-[0px_16px_16px_0px_#0000000d] bg-[rgba(255,255,255,0.6)] lg:px-10 lg:py-[30px] md:px-8 md:py-8 px-5 py-5 mx-auto lg:mt-12 md:mt-8 mt-6 rounded-[20px];
      &-width {
        max-width: 570px;
      }
      &-width-lg {
        max-width: 800px;
      }
    }
    &-bg {
      @apply backdrop-blur-[30px] shadow-[0px_16px_16px_0px_#0000000d] bg-[rgba(255,255,255,0.6)] rounded-[20px];
    }
  }
  .admin-overall-stats-cards {
    .swiper-wrapper {
      @media screen and (max-width: 1440) {
        display: grid;
        grid-template-columns: repeat(5, minmax(0, 1fr));
        gap: 20px;
      }
    }
    .swiper-slide {
      min-width: 200px;
      width: auto;
      @media screen and (max-width: 1440) {
        width: 200px;
      }
    }
  }
  .admin-overall-stats-nav {
    @media screen and (min-width: 1300px) {
      display: none !important;
    }
  }
}
