/* 
  Header Styles
*/
.dml {
  &-header {
    &-logo {
      &-area {
        /* removed left and right spacing from the group (268 - 24 - 16) */
        @media screen and (min-width: 567px) {
          width: 360px;
        }
      }
    }
  }
}

.dr-header-container {
  max-width: 1240px;
  margin: 0 auto;
  .dml {
    &-Stepper {
      &-steps {
        max-width: 727px;
      }
    }
  }
}
