/* 
  Input Styles
*/

.dml {
  &-control {
    /* @apply py-4; */
    /* padding-left: 46.6px; */
    /* padding-left: 26.6px;
		padding-right: 26.6px; */
    font-size: var(--dml-text-input-fs);
    height: var(--dml-input-height);
    min-height: var(--dml-input-height);
    background-color: var(--dml-color-grey-btn);
    border-radius: var(--dml-input-br);
    --input-padding-inline-start: 16px;
    --input-padding-inline-end: 16px;
    &[readonly] {
      color: var(--dml-color-grey);
      border-color: transparent;
      background: transparent;
    }
    &-pill {
      padding-left: 56px;
      padding-right: 16px;
      border-radius: var(--dml-input-height);
    }
    &.dml-TagsInput-input {
      height: auto;
    }
    &.dml-MultiSelect-input {
      height: auto;
    }
    &-section {
      &[data-position="left"] {
        margin-left: 4px;
      }
    }
    &-pinInput {
      height: var(--dml-otp-input-height);
      width: var(--dml-otp-input-width);
      &-inputHeight {
        height: 100%;
      }
    }
    &.dml-FileInput-input {
      padding: 0 18px;
      .dml-InputPlaceholder-placeholder {
        color: var(--dml-color-foreground);
      }
    }
  }

  &-InputWrapper {
    &-root {
      display: grid;
      grid-template-columns: auto auto;
      grid-template-rows: auto auto;
      grid-template-areas: "label error" "input input";
      & > .dml-Input-wrapper,
      .dml-PasswordInput-root,
      .dml-PinInput-root,
      .dml-fileUploader-wrapper,
      & > div {
        grid-area: input;
      }
      .dml-InputWrapper-label {
        grid-area: label;
      }
      .dml-InputWrapper-error {
        grid-area: error;
      }
      &-alternative {
        gap: 8px;
        display: flex;
        flex-direction: column;
        .dml-InputWrapper-label {
          order: 1;
          align-self: start;
        }
        .dml-InputWrapper-error {
          order: 3;
          align-self: start;
        }
        .dml-Input-wrapper {
          order: 2;
        }
      }
    }
    &-label {
      font-size: var(--dml-label-fs-lg);
      line-height: var(--dml-label-lh-lg);
      margin-bottom: var(--dml-input-label-mb);
      align-self: end;
      color: var(--dml-color-foreground);
    }
    &-error {
      align-self: end;
      justify-self: end;
      margin-bottom: var(--dml-input-label-mb);
      font-size: var(--dml-para-fs-sm);
      line-height: var(--dml-label-lh-lg);
      text-align: right;
    }
    &-required {
      color: transparent;
      width: var(--dml-input-asterisk-size);
      height: var(--dml-input-asterisk-size);
      border-radius: 100%;
      background-color: var(--dml-color-danger);
      display: inline-block;
      line-height: 8px;
      margin-left: 8px;
    }
  }

  &-TagsInput {
    &-input {
      display: flex;
      align-items: center;
    }
  }
}

.dml-Input-Calendar {
  [data-baseweb="base-input"] {
    position: relative;
    &:after {
      font-family: "icomoon";
      content: "\e904";
      font-size: 20px;
      display: "inline-block";
      position: absolute;
      right: 22.54px;
      top: 50%;
      transform: translateY(-50%);
      color: var(--dml-color-grey);
    }
  }
}

.baseWeb {
  &-error {
    [data-baseweb="input"] {
      border: 1px solid var(--dml-color-danger);
    }
  }
}

/* [data-error] .dml-Input-input:focus {
  border: calc(rem(1px) * var(--mantine-scale)) solid var(--dml-color-primary);
} */

[data-error] {
  .dml {
    &-PasswordInput-input {
      border: calc(rem(1px) * var(--mantine-scale)) solid transparent;
      &:has(> input:focus) {
        border: calc(rem(1px) * var(--mantine-scale)) solid var(--mantine-color-danger-6);
      }
    }
    &-Select-input {
      border: calc(rem(1px) * var(--mantine-scale)) solid var(--mantine-color-danger-6);
    }
  }
}

.pac-container {
  border-radius: var(--dml-border-radius-md);
  box-shadow: var(--dml-dropdown-shadow);
  margin-left: 1px;
  &.pac-logo {
    .pac-item {
      height: 44px;
      display: flex;
      width: 100%;
      flex-grow: 1;
      align-items: center;
      .pac-icon-marker {
        margin-top: 2px;
      }
    }
    &:after {
      display: none;
    }
  }
}
