.dml {
  &-Modal {
    &-header {
      padding: 24px 20px;
      min-height: 0;
      color: var(--dml-color-foreground);
      &.pt-17 {
        padding-top: 17px;
      }
    }
    &-title {
      font-weight: 700;
      line-height: var(--dml-heading-lh-xs);
      font-size: var(--dml-heading-fs-xs);
    }
    &-body {
      padding: 0 20px 40px;
    }
  }
}
