.dml {
  &-Radio {
    &-radio {
      border: 2px solid;
      border-color: var(--dml-color-grey);
    }
    &-icon {
      top: 7px;
      left: 7px;
      width: 6px;
      height: 6px;
    }
    &-label {
      font-size: var(--dml-para-fs-md);
      color: var(--dml-color-grey);
    }
  }
}
