.dml {
  &-Radio {
    &-radio {
      border: 2px solid;
      border-color: var(--dml-color-grey);
    }
    &-icon {
      top: 7px;
      left: 7px;
      width: 6px;
      height: 6px;
    }
    &-label {
      font-size: var(--dml-para-fs-md);
      color: var(--dml-color-grey);
    }
  }
  &-radiobtn {
    @apply relative border border-grey p-7 rounded-2xl cursor-pointer transition duration-300;

    &[aria-checked="true"]::after {
      content: "\e90a";
      font-family: "icomoon";
      @apply text-5xl text-primary absolute top-1/2 right-5 -translate-y-1/2;
    }
  }
}
