.dml {
  &-sidebar {
    &-navlink {
      line-height: var(--dml-para-lh-md);
      .dml-NavLink {
        &-section {
          margin-right: 16px;
          margin-inline-end: 16px !important;
        }
      }
    }
  }
  &-sideNavbar {
    &-closed {
      transition: 0.3s;
      .dml-sidebar-navlink {
        @media screen and (min-width: 992px) {
          display: inline-flex;
          width: 84px;
          height: 72px;
          transition: 0.3s;
          .dml-NavLink-section {
            margin-right: 0px;
          }
          .dml-NavLink-body {
            display: inline-block;
            width: 0px;
            .dml-NavLink-label {
              display: inline-block;
              width: 0px;
              font-size: 0px;
              height: 0px;
              & > span {
                font-size: 0px;
                line-height: 0px;
                opacity: 0;
              }
            }
            .dml-NavLink-description {
              width: 0px;
              font-size: 0px;
            }
          }
        }
      }
    }
  }
}

.dml-AppShell-navbar {
  box-shadow: 0px 20px 50px 0px #dce0f980;
  transition: 0.3s;
  & > div {
    overflow-x: hidden !important;
  }
  &.dml-sidebar-navlink {
    width: auto;
    height: auto;
    transition: 0s 0.6s;
    transition-delay: 0.6s;
    .dml-NavLink-body {
      .dml-NavLink-label {
        & > span {
          font-size: 1rem;
          line-height: 1.5rem;
          opacity: 1;
          transition: 0s 0.6s;
          transition-delay: 0.6s;
        }
      }
    }
  }
}
