:root {
  --dml-color-background: #F5F5F5;
  --dml-color-foreground: #333333;
  --dml-color-green-badge: #CCFFD4;

  --dml-color-danger: #FF5A43;
  --dml-color-danger-medium: #e5322c;

  --dml-color-danger-deep: #bb032a;
  --dml-color-danger-badge: #F13E26;
  --dml-color-danger-light: #fff0ee;
  --dml-color-warning: #FCFFCCE5;

  --dml-color-grey: #7c7c7c;
  --dml-color-grey-medium: #949494;
  --dml-color-grey-light: #cccccc;
  --dml-color-grey-btn: #e8e8e8;
  --dml-color-grey-low: #efefef;
  --dml-color-tag-bg: #fdf2dc;
  --dml-color-tag-bg-deep: #845201;
  --dml-color-natural-white: #fff;
  --dml-color-disabled: #f1f3f5;

  --dml-color-primary: #6848FF;
  --dml-color-primary-light: #f3f7fc;

  --dml-color-secondary: #0c0c0d;
  --dml-color-green: #166c3b;
  --dml-color-green-middle: #009a51;
  --dml-color-green-low: #eaf6ed;

  /* gradient color sets */
  --dml-color-purple-extra-light: #F5EBFF;
  --dml-color-purple-light: #f8f1ff;
  --dml-color-purple-medium: #e2c6ff;
  --dml-color-purple-deep: #bf83ff;
  --dml-color-red-light: #ffeff1;
  --dml-color-red-medium: #ffbac2;
  --dml-color-red-deep: #fa5a7d;
  --dml-color-yellow-light: #fff9e8;
  --dml-color-yellow-medium: #ffe59f;
  --dml-color-yellow-deep: #ffaa00;
  --dml-color-green-extra-light: #DBFFE8;
  --dml-color-green-light: #e8fff0;
  --dml-color-green-medium: #a3ffc3;
  --dml-color-green-deep: #3cd856;
  --dml-color-blue-light: #ebf3ff;
  --dml-color-blue-medium: #9cc3ff;
  --dml-color-lily-white: #e5f7ff;
  --dml-color-titan-white: #eceafe;
  --dml-color-serenade-white: #fff0e6;

  --dml-appShell-padding: 20px;
  /* --radius: 0.5rem; */
  /* typography  */
  --dml-label-font-weight: 500;

  /* Tooltip */
  --dml-tooltip-fs: 12px;
  --dml-tooltip-lh: 1.4;

  /* Paragraph  */
  --dml-para-fs-xs: rem(12px);
  --dml-para-fs-sm: rem(14px);
  --dml-para-fs-md: rem(16px);
  --dml-para-fs-lg: rem(18px);
  --dml-para-fs-sp: rem(17px);

  --dml-para-lh-xs: 1.4;
  --dml-para-lh-sm: 1.4;
  --dml-para-lh-md: rem(24px);
  --dml-para-lh-lg: rem(28px);
  --dml-para-lh-sp: 1.4;

  /* heading  */
  --dml-heading-fs-xxs: rem(16px);
  --dml-heading-fs-xs: rem(20px);
  --dml-heading-fs-sm: rem(24px);
  --dml-heading-fs-md: rem(28px);
  --dml-heading-fs-lg: rem(32px);
  --dml-heading-fs-xl: rem(36px);
  --dml-heading-fs-xxl: rem(40px);

  --dml-heading-lh-xxs: 1.4;
  --dml-heading-lh-xs: rem(28px);
  --dml-heading-lh-sm: rem(32px);
  --dml-heading-lh-md: 1.1;
  --dml-heading-lh-lg: rem(40px);
  --dml-heading-lh-xl: 1.1;
  --dml-heading-lh-xxl: rem(52px);

  --dml-label-fs-sm: rem(14px);
  --dml-label-fs-md: rem(16px);
  --dml-label-fs-lg: rem(18px);

  --dml-label-lh-sm: rem(16px);
  --dml-label-lh-md: rem(20px);
  --dml-label-lh-lg: rem(24px);

  /* Extra */
  --dml-extra-text-md: rem(14px),
  --dml-extra-btn-text: rem(16px);
  --dml-extra-form-fs: rem(18px);
  --dml-extra-text-12-md-fs: rem(12px);
  --dml-extra-btn-lh: rem(22px);
  --dml-extra-text-md-lh: rem(19.6px);
  --dml-extra-form-lh: 1.4;
  --dml-extra-text-12-md-lh: 1.4;
  --dml-extra-text-12-md-fw: 500;
  --dml-extra-form-fw: 500;

  /* Link Button */
  --dml-link-btn-fs-md: rem(28px);
  --dml-link-btn-fs-sm: rem(14px);
  --dml-link-btn-fs-xs: rem(12px);

  /* Font weight  */
  --dml-fw-bold: 700;
  --dml-fw-semibold: 600;
  --dml-fw-medium: 500;
  --dml-fw-normal: 400;

  /* box shadow */

  --dml-box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.02);
  --dml-dropdown-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.12);

  /* Button  */
  --dml-link-btn-md: rem(14px);
  --dml-btn-xxs-height: rem(24px);
  --dml-btn-xs-height: rem(28px);
  --dml-btn-sm-height: rem(36px);
  --dml-btn-sm-2-height: rem(40px);
  --dml-btn-md-height: rem(50px);
  --dml-btn-lg-height: rem(61px);
  --dml-btn-esm-height: rem(38px);

  --dml-btn-pad-x-sm: rem(12px);
  --dml-btn-pad-x-sm-2: rem(12px);
  --dml-btn-pad-x-esm: rem(14px);
  --dml-btn-pad-x-xxs: rem(6px);

  /* Action Icon */
  --dml-action-icon-size-md: rem(48px);

  /* Input  */
  --dml-input-label-mb: rem(8px);
  --dml-text-input-fs: rem(17px);
  --dml-input-height: rem(56px);
  --dml-input-br: rem(8px);
  --dml-otp-input-width: rem(80px);
  --dml-otp-input-height: rem(56px);
  --dml-input-asterisk-size: rem(6px);

  /* Boder Radius */
  --dml-border-radius: rem(4px);
  --dml-border-radius-md: rem(8px);

  /* Modal */
  --dml-modal-width-md: 432px;

  /* Table */
  --dml-table-vr-spacing-md: 15px;
}
